Package: com.aiden.ytminimum
Name: YTMinimum
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: A focused YouTube enhancer for personal sideloading
Maintainer: YTMinimum contributors
Author: YTMinimum contributors
Section: Tweaks

